<div style="text-align: center">
    <h1>
      SISTEM INFORMASI UAD
      </h1>
      <h2> Fina Andriani 1800016007</h2>
      <img width="90px" alt="angular logo" src="assets/asd.png">
    </div>
    
<ul>
    <li><a>Praktikum 1</a></li>
    <li><a>Praktikum 2</a></li>
    <li><a>Praktikum 3</a></li>
    <li><a>Praktikum 4</a></li>
    <li><a>Praktikum 5</a></li>
    <li><a>Praktikum 6</a></li>
    <li><a>Praktikum 7</a></li>
    <li><a>Praktikum 8</a></li>
    <li><a>Praktikum 9</a></li>
    <li><a>Praktikum 10</a></li>
</ul>
    <h3>Here are some links to help you start :</h3>
    <ul>
      <li><a href="/home" routerLinks="/home">HOME</a></li>
      <li><a href="/student" routerLinks="/student">STUDENT</a></li>
      <li><a href="/teacher" routerLinks="/teacher">TEACHER</a></li>
    </ul>
    <router-outlet></router-outlet>